/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
/* ----------------------------*/

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

[class*="__container"] {
	max-width: 992px;
	margin: 0px auto;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

/* ----------------------------*/

/* ========================================================== */
/* ===========================HEAD=========================== */
/* ========================================================== */


.head {
	width: 100%;
	height: 113px;
	background: rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 10;
}
.head__container {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-style: italic;
	padding: 0px 15px;
}
.container_head_logo {
	height: 75%;
	max-width: 140px;
	display: flex;
	align-items: center;
}
.container_head_logo a {
	height: 80%;
	width: auto;
}
.container_head_logo img {
	height: 100%;
}
.container_head_ul_nav {
	display: flex;
	margin-left: 30px;
}
.head_ul_nav {
	display: flex;
	justify-content: left;
	height: 50px;
	max-width: 600px;
}
.head_ul_nav li > a {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px 10px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
}
.head_ul_nav li > a:hover {
	background: red;
}
.container_head_register_button {
	height: 50px;
	background: red;
	margin: 0px 0px 0px 175px;
}
.container_head_register_button a {
	height: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
}
.container_head_burger_menu,
#menu-toggle {
	display: none;
}
@media (max-width: 992px) {
	.container_head_register_button {
		margin: 0px;
	}
	.container_head_ul_nav {
		position: absolute;
		right: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 50px;
	}
	.menu-btn {
	  display: flex;
	  align-items: center;
	  position: relative;
	  width: 45px;
	  height: 45px;
	  cursor: pointer;
	  z-index: 1;
	}
 
	.menu-btn > span,
	.menu-btn > span::before,
	.menu-btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 6px;
	  background-color: #fff;
	  transition-duration: .25s;
	}
	.menu-btn > span::before {
	  content: '';
	  top: -14px;
	}
	.menu-btn > span::after {
	  content: '';
	  top: 14px;
	}
	 
	.head_ul_nav {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  right: -100%;
	  width: 320px;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  background-color: rgba(0, 0, 0, .9);
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  transition-duration: .25s;
	}
	@media (max-width: 490px)
	{
		.head_ul_nav {
			width: 100%;
		}
	}
	.head_ul_nav > li > a {
	  display: block;
	  padding: 10px 24px;
	  margin: 25px 0px;
	  color: #fff;
	  font-size: 30px;
	  font-weight: 600;
	  text-decoration: none;
	  transition-duration: .25s;
	}
	.head_ul_nav >li >a:hover {
	  background-color: red;
	  color: #fff;
	}
	 
	 
	#menu-toggle{
	  opacity: 0;
	}
	 
	#menu-toggle:checked ~ .menu-btn > span{
	  transform: rotate(45deg);
	}
	#menu-toggle:checked ~ .menu-btn > span::before{
	  top: 0;
	  transform: rotate(0);
	}
	#menu-toggle:checked ~ .menu-btn > span::after{
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu-toggle:checked ~ .head_ul_nav {
	  visibility: visible;
	  right: 0;
	}
}


/* ========================================================== */
/* ===========================HEAD=========================== */
/* ========================================================== */



/* ========================================================== */
/* ===========================MAIN=========================== */
/* ========================================================== */


.main {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}


/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


.main_section_one {
	width: 100%;
	min-height: 800px;
	background:  url(../img/head/background_img.jpg) top/cover no-repeat;
}
.main__container {
	height: 687px;
	margin-top: 113px;
	display: flex;
	align-items: center;
}
.container_main_section_one {
	min-height: 450px;
	width: 830px;
	display: flex;
	background: rgba(0, 0, 0, .7);
	margin: 0px 15px;
}

.main_section_one_time_box {
	min-height: 100%;
	max-width: 27%;
	background: red;
	display: flex;
	padding: 0px 1.3vw 0px 0px ;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 600;
}
.main_section_one_time_box_one {
	font-size: 150px;
	margin: 0px 5px;
	transform: skew(-10deg);
}
.main_section_one_time_box_two {
	font-size: 40px;
	margin: 0px 5px;
	transform: skew(-10deg);
}
.main_section_one_time_box_three {
	font-size: 60px;
	margin: 0px 5px;
	transform: skew(-10deg);
}
.main_section_one_info_box {
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0px 45px 0px 45px;
}
.section_one_info_box_text {
	min-height: 125px;
	max-width: 90%;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section_one_info_box_text_one {
	color: #539ee1;
	font-weight: 500;
	font-size: 28px;
	font-style: italic;
}
.section_one_info_box_text_two {
	color: #fff	;
	font-weight: 500;
	font-size: 25px;
	font-style: italic;
}
.section_one_info_box_text_three {
	color: #fff	;
	font-weight: 600;
	font-size: 50px;
	font-style: italic;
}
.main_section_one_info_box_form {
	min-height: 260px;
	margin: 0px 0px 25px 0px;
}
.main_section_one_info_box_form_form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.info_box_form_text {
	color: #fff;
	font-weight: 500;
	font-size: 27px;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 10px;
}
.info_box_form_one_and_two_section {
	display: flex;
	flex-direction: row;
	min-height: 110px;
	max-width: 420px;
	margin: 0px 0px 15px 0px;
}
.info_box_form_one_section,
.info_box_form_two_section  {
	display: flex;
	max-width: 50%;
	min-height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
.info_box_form_one_section input,
.info_box_form_two_section input {
	min-height: 50px;
	padding: 10px;
	font-size: 14px;
	width: 95%;
}
.info_box_form_register_button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 75px;
}
.info_box_form_register_button > input {
	background: red;
	color: #fff;
	max-width: 200px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}
.info_box_form_register_button_label {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	text-align: center;
	cursor: pointer;
	color: #fff;
	transform: skew(-10deg);
}
.info_box_form_register_button_label > input {
	cursor: pointer;
	background: red;
	margin: 0px 5px 0px 0px;
	transform: skew(10deg);
}
.register_button_label_one {
	display: flex;
	flex-direction: row;
}
.register_button_label_one > a {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	margin: 0px 3px;
	transform: skew(-10deg);
}
.register_button_label_one > a:hover {
	text-decoration: underline;
}
.register_button_label_one_one {
	display: flex;
}
@media (max-width: 975px)
{
	.container_main_section_one {
		flex-direction: column;
	}
	.main_section_one_time_box {
		max-width: 100%;
		height: 180px;
		flex-direction: row;
	}
	.main_section_one_time_box_one {
		height: 90%;
		display: flex;
		align-items: flex-end;
	}
	.main_section_one_time_box_two {
		height: 65%;
		display: flex;
		align-items: flex-end;
	}
	.main_section_one_time_box_three {
		height: 70%;
		display: flex;
		align-items: flex-end;
		font-size: 70px;
	}
	.main_section_one_info_box {
		max-width: 90%;
	}
	.info_box_form_register_button_label {
		margin-top: 20px;
	}
}
@media (max-width: 550px)
{
	.info_box_form_one_and_two_section {
		flex-direction: column;
	}
	.main_section_one_time_box_one {
		height: 50%;
		font-size: 80px;
	}
	.main_section_one_time_box_two {
		height: 43.5%;
		font-size: 30px;
	}
	.main_section_one_time_box_three {
		height: 47.5%;
		font-size: 50px;
	}
	.info_box_form_register_button > input {
		height: 50px;
	}
	.info_box_form_one_section,
	.info_box_form_two_section {
		max-width: 100%;
	}
	.info_box_form_one_section input,
	.info_box_form_two_section input {
		margin: 5px 0px;
		width: 100%;
	}
	.main__container {
		margin: 160px 0px 80px 0px;
	}
	.info_box_form_register_button_label {
		font-size: 12px;
		font-weight: 500;
	}
}
@media (max-width: 480px)
{
	.main__container {
		margin: 220px 0px 80px 0px;
	}
}
@media (max-width: 390px)
{
	.main_section_one_time_box_one {
		height: 40%;
		font-size: 55px;
	}
	.main_section_one_time_box_two {
		height: 33.5%;
		font-size: 25px;
	}
	.main_section_one_time_box_three {
		height: 37.5%;
		font-size: 35px;
	}
	.main__container {
		margin: 240px 0px 130px 0px;
	}
	.info_box_form_register_button_label {
		font-size: 9px;
	}
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


.main_section_two {
	width: 100%;
	min-height: 630px;
}
.main_section_two__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-height: 100%;
	padding: 0px 15px;
}
.container_main_section_two_title {
	display: flex;
	align-items: center;
	font-size: 40px;
	font-weight: 600;
	line-height: 60px;
	font-style: italic;
	max-width: 600px;
	text-align: center;
	min-height: 140px;
}
.container_main_section_two_content {
	min-height: 440px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.section_two_content_one {
	min-height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 70px;
}
.section_two_content_one_div_h2 {
	width: 100%;
	min-height: 20%;
	display: flex;
	justify-content: left;
}
.section_two_content_one_h2 {
	font-weight: 500;
	max-width: 350px;
	font-size: 2em;
	max-height: 100%;
}
.section_two_content_one_h2_span {
	font-size: 2em;
	color: #579ae0;
}
.section_two_content_one_ul {
	min-height: 75%;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section_two_content_one_ul li {
	position: relative;
	width: 90%;
	min-height: 10%;
	margin: 10px 0px;
}
.section_two_content_one_ul li:nth-child(1):before,
.section_two_content_one_ul li:nth-child(2):before,
.section_two_content_one_ul li:nth-child(3):before,
.section_two_content_one_ul li:nth-child(4):before  {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	left: -65px;
	background: url(../img/main/power_icon_green.png) center/100% no-repeat;
}
.section_two_content_one_ul li:nth-child(2):before {
	background: url(../img/main/two_hand_icon_orange.png) center/100% no-repeat;
}
.section_two_content_one_ul li:nth-child(3):before {
	background: url(../img/main/lupa_icon_red.png) center/100% no-repeat;
}
.section_two_content_one_ul li:nth-child(4):before {
	background: url(../img/main/idea_icon_blue.png) center/100% no-repeat;
}
.section_two_content_two {
	min-height: 100%;
	min-width: 46%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.section_two_content_two_box_one,
.section_two_content_two_box_two,
.section_two_content_two_box_three,
.section_two_content_two_box_four {
	height: 50%;
	width: 50%;
	background: #00aa51 radial-gradient(circle at 100% 100%, #00aa51 15%, white 15%, #00aa51 16%, 
															 #00aa51 27%, white 27%, #00aa51 28%,
															 #00aa51 40%, white 40%, #00aa51 41%, 
															 #00aa51 55%, white 55%, #00aa51 56%, 
															 #00aa51 70%, white 70%, #00aa51 71%);
}
.section_two_content_two_box_one_section,
.section_two_content_two_box_two_section,
.section_two_content_two_box_three_section,
.section_two_content_two_box_four_section {
	height: 100%;
	width: 100%;
	background: url(../img/main/power_icon.png) center/40% no-repeat;
}
.section_two_content_two_box_two {
	background: #f07e1b radial-gradient(circle at 0% 100%, #f07e1b 15%, white 15%, #f07e1b 16%, 
														   #f07e1b 27%, white 27%, #f07e1b 28%,
														   #f07e1b 40%, white 40%, #f07e1b 41%, 
														   #f07e1b 55%, white 55%, #f07e1b 56%, 
														   #f07e1b 70%, white 70%, #f07e1b 71%);;
}
.section_two_content_two_box_two_section {
	background: url(../img/main/two_hand_icon.png) center/40% no-repeat;
}
.section_two_content_two_box_three {
	background: #c1242b radial-gradient(circle at 100% 0%, #c1242b 15%, white 15%, #c1242b 16%, 
														   #c1242b 27%, white 27%, #c1242b 28%,
														   #c1242b 40%, white 40%, #c1242b 41%, 
														   #c1242b 55%, white 55%, #c1242b 56%, 
														   #c1242b 70%, white 70%, #c1242b 71%);;
}
.section_two_content_two_box_three_section {
	background: url(../img/main/lupa_icon.png) center/40% no-repeat;
}
.section_two_content_two_box_four {
	background: #5a9bdb radial-gradient(circle at 0% 0%, #5a9bdb 15%, white 15%, #5a9bdb 16%, 
														 #5a9bdb 27%, white 27%, #5a9bdb 28%,
														 #5a9bdb 40%, white 40%, #5a9bdb 41%, 
														 #5a9bdb 55%, white 55%, #5a9bdb 56%, 
														 #5a9bdb 70%, white 70%, #5a9bdb 71%);;
}
.section_two_content_two_box_four_section {
	background: url(../img/main/idea_icon.png) center/40% no-repeat;
}
@media (max-width: 975px)
{
	.section_two_content_two {
		display: none;
	}
	.section_two_content_one {
		align-items: center;
	}
}
@media (max-width: 500px)
{
	.container_main_section_two_title {
		font-size: 1.5em;
	}
	.section_two_content_one_h2 {
		font-size: 1.5em;
		max-width: 280px;
	}
}
@media (max-width: 380px)
{
	.section_two_content_one_div_h2 {
		justify-content: center;
	}
	.section_two_content_one_h2 {
		font-size: 1.1em;
		max-width: 200px;
	}
	.section_two_content_one_ul li:before {
		display: none;
	}
	.section_two_content_one {
		padding: 0px;
	}
}


/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


.main_section_three {
	width: 100%;
	min-height: 970px;
	display: flex;
	flex-direction: column;
}
.main_section_three__container_one {
	min-height: 175px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_section_three_h2 {
	text-align: center;
	color: #c2272d;
	font-weight: 500;
	font-size: 2.3em;
}
.main_section_three_container_two {
	min-height: 795px;
	max-width: 100%;
	background: url(../img/main/main_background_studia.jpg) center/cover no-repeat;
	display: flex;
}
.main_section_three__container_two {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_section_three_cont_two {
	max-width: 840px;
	min-height: 225px;
	display: flex;
	flex-direction: row;
	margin: 0px 15px;
}
.main_section_three_cont_two_img_box {
	position: relative;
	max-height: 225px;
	max-width: 225px;
	padding: 0px 35px;
	background: red;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main_section_three_cont_two_img_box a {
	border-radius: 10em;
}
.main_section_three_cont_two_img_box img {
	max-width: 100%;
	border-radius: 10em;
}
.main_section_three_cont_two_content {
	padding: 0px 35px;
	background: rgba(0, 0, 0, .3);
	min-height: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main_section_three_cont_two_content_h2_one,
.main_section_three_cont_two_content_h2_two  {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 25%;
	color: #ce2037;
	font-weight: 600;
	font-size: 2em;
}
.main_section_three_cont_two_content_h2_two {
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
}
@media (max-width: 830px) {
	.main_section_three_cont_two_content_h2_one {
		font-size: 1.2em;
	}
	.main_section_three_cont_two_content_h2_two {
		font-size: .8em;
	}
	.main_section_three_cont_two {
		min-height: 150px;
	}
	.main_section_three_cont_two_img_box {
		max-width: 150px;
	}
}
@media (max-width: 550px) {
	.main_section_three_cont_two {
		flex-direction: column;
		min-height: 150px;
	}
	.main_section_three_cont_two_img_box {
		max-width: 100%;
		height: 100px;
	}
	.main_section_three_cont_two_img_box img {
		height: 80px;
	}
	.main_section_three_cont_two_content {
		height: 150px;
	}
}
@media (max-width: 400px) {
	.main_section_three_cont_two_content_h2_one {
		font-size: .8em;
	}
	.main_section_three_cont_two_content_h2_two {
		font-size: .6em;
	}
}


/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

.main_section_four {
	width: 100%;
	min-height: 780px;
}
.main_section_four__container {
	min-height: 100%;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main_section_four_title {
	min-height: 180px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main_section_four_title_box {
	position: relative;
	background: black;
	height: 60px;
	max-width: 550px;
	margin: 0px 30px;
	padding: 0px 25px;
	transform: skew(-45deg);
	box-shadow: 80px 37px 0px -26px red,
				180px -37px 0px -10px #fff,
				-25px -14px 0px 0px red;
}
.main_section_four_title_box_absolute {
	position: absolute;
	top: 0;
	right: 0;
	height: 26px;
	min-width: 150px;
	box-shadow: -280px 53px 0px -8px #fff ;
}
.main_section_four_title_h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 100%;
	font-weight: 600;
	font-size: 2em;
	line-height: 1.8em;
	transform: skew(45deg);
}
.main_section_four_content {
	max-width: 100%;
	min-height: 600px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.main_section_four_content_block {
	height: 220px;
	width: 220px;
	margin: 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-weight: 500;
	font-size: 1.1em;
	text-align: center;
}
.main_section_four_content_block img {
	width: 50%;
}
@media (max-width: 600px) {
	.main_section_four_title_h2 {
		font-size: 1.5em;
	}
	.main_section_four_title_box_absolute {
		box-shadow: -160px 53px 0px -8px #fff ;
	}
}
@media (max-width: 500px) {
	.main_section_four_title_h2 {
		font-size: 1em;
	}
	.main_section_four_title_box {
		box-shadow: 120px -14px 0px 0px #fff,
					-25px -14px 0px 0px red,
					65px 37px 0px -26px red;
	}
	.main_section_four_title_box_absolute {
		box-shadow: -100px 55px 0px -6px #fff;
	}
}
@media (max-width: 380px) {
	.main_section_four_title_h2 {
		font-size: 0.7em;
	}
	.main_section_four_title_box {
		box-shadow: 90px -14px 0px 0px #fff,
					-25px -14px 0px 0px red,
					65px 37px 0px -26px red;
	}
	.main_section_four_title_box_absolute {
		box-shadow: -80px 55px 0px -6px #fff;
	}
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


.main_section_five {
	width: 100%;
	min-height: 850px;
	background: #1b263a;
}
.main_section_five__container {
	min-height: 100%;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
}
.main_section_five_experts {
	max-width: 100%;
	min-height: 80%;
	display: flex;
	flex-direction: column;
}
.main_section_five_experts_title {
	width: 65%;
	min-height: 60px;
	margin: 50px auto;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2em;
	color: #1b263a;
	font-style: italic;
}
.main_section_five_experts_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 350px;
	max-width: 100%;
	color: #fff;
	margin: 20px 0px;
}
.main_section_five_experts_box:nth-of-type(even) .experts_box_img {
	justify-content: right;
}
.main_section_five_experts_box:nth-of-type(even) {
	flex-direction: row-reverse;
}
.expert_two .experts_box_img {
	background: #f07e1b;
}
.expert_three .experts_box_img {
	background: #c1242b;
}
.expert_four .experts_box_img {
	background: #00aa51;
}
.expert_two .experts_box_content_name {
	border-bottom: 3px solid #f07e1b;
}
.expert_three .experts_box_content_name {
	border-bottom: 3px solid #c1242b;
}
.expert_four .experts_box_content_name {
	border-bottom: 3px solid #00aa51;
}
.expert_two .experts_box_content_name:after {
	background: url(../img/main/two_hand_icon.png) center/cover no-repeat;
}
.expert_three .experts_box_content_name:after {
	background: url(../img/main/lupa_icon.png) center/cover no-repeat;
}
.expert_four .experts_box_content_name:after {
	background: url(../img/main/power_icon.png) center/cover no-repeat;
}
.experts_box_img {
	display: flex;
	justify-content: left;
	width: 380px;
	height: 100%;
	background: #5a9bdb;
	margin: 0px 4% 0px 0px;
}
.experts_box_img img {
	width: 93%;
	height: 100%;
}
.experts_box_content {
	width: 540px;
	min-height: 100%;
	margin: 20px 0px;
}
.experts_box_content_name {
	position: relative;
	font-weight: 600;
	font-size: 2em;
	height: 40px;
	max-width: 70%;
	border-bottom: 3px solid #5a9bdb;
	font-style: italic;
}
.experts_box_content_name:after {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	background: url(../img/main/idea_icon.png) center/cover no-repeat;
	top: -10px;
	margin-left: 20px;
}
.experts_box_content_posada {
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 13px;
}
.experts_box_content_text {
	max-width: 90%;
	line-height: 18px;
	letter-spacing: 0.07em;
}
@media (max-width: 700px) {
	.main_section_five_experts_box:nth-of-type(even) {
		flex-direction: column;
	}
	.main_section_five_experts_box {
		flex-direction: column;
	}
	.experts_box_img,
	.main_section_five_experts_box:nth-of-type(even) .experts_box_img {
		justify-content: center;
	}
	.experts_box_img,
	.experts_box_content {
		width: 70%;
	}
	.experts_box_content_name {
		font-size: 1em;
	}
	.experts_box_content_posada {
		font-size: .6em;
		margin: 5px 0px;
	}
	.experts_box_content_text {
		font-size: .7em;
	}
	.experts_box_content_name:after {
		height: 30px;
		width: 30px;
	}
}
@media (max-width: 700px) {
	.main_section_five_experts_title {
		font-size: 1.2em;
	}
}
.main_section_five_heroes {
	max-width: 100%;
	min-height: 430px;
}
.main_section_five_heroes_title {
	width: 65%;
	min-height: 60px;
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2em;
	color: #fff;
	font-style: italic;
}
.main_section_five_heroes_box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.main_section_five_heroes_box img {
	width: 220px;
	height: 220px;
	margin: 10px;
}
@media (max-width: 700px) {
	.main_section_five_heroes_title {
		font-size: 1.5em;
	}
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */



.main_section_six {
	width: 100%;
	min-height: 345px;
}
.main_section_six__container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main_section_six_title {
	width: 65%;
	min-height: 130px;
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2em;
	font-style: italic;
}
.main_section_six_content {
	max-width: 100%;
	min-height: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.main_section_six_content a {
	height: 217px;
	margin: 10px;
}
.main_section_six_content img {
	height: 100%;
}
@media (max-width: 700px) {
	.main_section_six_title {
		font-size: 1.4em;
	}
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


.main_section_seven {
	max-width: 100%;
	min-height: 800px;
	background: url(../img/main/girl_silent.png) 40% bottom no-repeat,
				radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
}
@media (max-width: 1920px) {
	.main_section_seven {
		background: url(../img/main/girl_silent.png) 20% bottom no-repeat,
					radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
@media (max-width: 1100px) {
	.main_section_seven {
		background: url(../img/main/girl_silent.png) 0% bottom no-repeat,
					radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
@media (max-width: 880px) {
	.main_section_seven {
		background: radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
.main_section_seven__container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0px 15px;
}
.main_section_seven_title {
	min-height: 130px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2em;
	font-style: italic;
}
.main_section_seven_title_span {
	color: #c84145;
	padding: 0px 5px 0px 0px;
}
.main_section_seven_content {
	max-width: 470px;
	min-height: 675px;
	padding: 0px 15px 0px 0px;
}
.main_section_seven_content_ul {
	max-width: 100%;
	min-height: 100%;
}
.main_section_seven_content_ul_li {
	max-width: 100%;
	min-height: 125px;
	display: flex;
	margin: 5px 0px;
	background: rgba(0, 0, 0, .7);
	color: #fff;
}
.main_section_seven_content_ul_numb {
	min-height: 100%;
	width: 25%;
	background: #c84145;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5em;
	font-weight: 600;
}	
.main_section_seven_content_ul_content {
	width: 75%;
	min-height: 100%;
	font-style: italic;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main_section_seven_content_ul_content_h2 {
	width: 90%;
	min-height: 30%;
	margin: 5px 0px;
	display: flex;
	align-items: center;
	color: #c84145;
	font-size: 1.3em;
	font-weight: 600;
}
.main_section_seven_content_ul_content_text {
	min-height: 50%;
	width: 90%;
	font-weight: 500;
	font-size: .9em;
}
@media (max-width: 670px) {
	.main_section_seven_title {
		font-size: 1.5em;
	}
}
@media (max-width: 520px) {
	.main_section_seven_title {
		font-size: 1em;
	}
	.main_section_seven_content_ul_content_h2 {
		font-size: 1em;
	}
	.main_section_seven_content_ul_content_text {
		font-size: .8em;
	}
}
@media (max-width: 360px) {
	.main_section_seven_title {
		font-size: .85em;
	}
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

.main_section_eight {
	max-width: 100%;
	min-height: 800px;
	background: #1b263a;
}
.main_section_eight__container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 15px;
	margin-bottom: 50px;
}
.main_section_eight_title {
	min-height: 50px;
	max-width: 420px;
	padding: 0px 15px;
	background: red;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2.5em;
	font-style: italic;
	margin: 50px 0px 30px 0px;
}
.main_section_eight_content {
	min-height: 620px;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main_section_eight_content_title_head {
	max-width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 1.3em;
	color: #fff;
	text-align: center;
}
.main_section_eight_content_box {
	min-height: 480px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.main_section_eight_content_box_cont {
	min-height: 100%;
	width: 32%;
	font-style: italic;
	margin: 15px;
}
.main_section_eight_content_box_cont_how_much {
	min-height: 130px;
	width: 100%;
	background: black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #fff;
	font-weight: 600;
	font-size: 3em;
}
.main_section_eight_content_box_cont_class {
	width: 100%;
	min-height: 70px;
	background: black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2.5em;
}
.main_section_eight_content_box_cont_box {
	width: 100%;
	min-height: 280px;
	background: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main_section_eight_content_box_cont_box_word {
	min-height: 50px;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1.5em;
}
.main_section_eight_content_box_cont_box_numb_box {
	min-height: 50px;
	width: 80%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1.75em;
}
.main_section_eight_content_foot {
	max-width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
}
@media (max-width: 800px) {
	.main_section_eight_content_box {
		flex-wrap: wrap;
	}
	.main_section_eight_content_box_cont {
		width: 60%;
	}
}
@media (max-width: 480px) {
	.main_section_eight_title {
		font-size: 1.5em;
	}
	.main_section_eight_content_title_head {
		font-size: 1em;
	}
	.main_section_eight_content_foot {
		font-size: .9em;
	}
	.main_section_eight_content_box_cont {
		width: 80%;
	}
	.main_section_eight_content_box_cont_how_much,
	.main_section_eight_content_box_cont_class  {
		font-size: 2em;
	}
}



/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */




.main_section_nine {
	max-width: 100%;
	min-height: 800px;
	background: url(../img/main/boy_pointer.png) 40% bottom no-repeat,
				radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
}
@media (max-width: 2800px) {
	.main_section_nine {
		background: url(../img/main/boy_pointer.png) 30% bottom no-repeat,
				radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
@media (max-width: 1920px) {
	.main_section_nine {
		background: url(../img/main/boy_pointer.png) 20% bottom no-repeat,
				radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
@media (max-width: 1400px) {
	.main_section_nine {
		background: url(../img/main/boy_pointer.png) 0% bottom no-repeat,
				radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
@media (max-width: 1100px) {
	.main_section_nine {
		background: url(../img/main/boy_pointer.png) -20% bottom no-repeat,
				radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}
@media (max-width: 970px) {
	.main_section_nine_content_title_box_text {
		width: 100%;
		align-items: center;
	}
	.main_section_nine {
		background: radial-gradient(circle at 50% 100%, #ecf1f7,#d5d5d3);
	}
}

.main_section_nine__container {
	min-height: 800px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.main_section_nine_content {
	height: 480px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main_section_nine_content_title_box {
	min-height: 105px;
	max-width: 100%;
	display: flex;
}
.main_section_nine_content_title_box_text {
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-style: italic;
}
.main_section_nine_content_title_box_text_h2 {
	min-height: 70px;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 3.3em;
}
.main_section_nine_content_title_box_text_h3 {
	min-height: 25px;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
}
.main_section_nine_content_title_box_img {
	width: 100px;
	height: 100px;
	background: url(../img/main/surprize_box.png) center/100% no-repeat;
}
.main_section_nine_content_box {
	min-height: 355px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
.main_section_nine_content_box_title {
	min-height: 10%;
	max-width: 100%;
	display: flex;
	align-items: center;
	color: red;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
}
.main_section_nine_content_box_ul {
	max-width: 100%;
	min-height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main_section_nine_content_box_ul_li {
	min-height: 70px;
	max-width: 100%;
	display: flex;
	flex-direction: row;
}
.main_section_nine_content_box_ul_li_numb {
	min-height: 100%;
	width: 15%;
	background: red;
	color: #fff;
	font-weight: 600;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main_section_nine_content_box_ul_li_text {
	background: rgba(0, 0, 0, .65);
	width: 90%;
	display: flex;
	align-items: center;
	line-height: 20px;
	color: #fff;
	padding: 0px 10px;
	font-size: .95em;
	font-weight: 500;
}
.main_section_nine_ul_li_register_button {
	background: #5a9bdb;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 600;
	font-size: 2em;
}

@media (max-width: 970px) {
	.main_section_nine__container {
		justify-content: center;
		padding: 0px 15px;
	}
}
@media (max-width: 460px) {
	.main_section_nine_content_title_box_img {
		height: 0px;
		width: 0px;
		background: none;
	}
	.main_section_nine_content_title_box_text {
		width: 100%;
		align-items: center;
	}
	.main_section_nine_ul_li_register_button {
		font-size: 1.8em;
	}
	.main_section_nine_content_box_ul_li_text {
		font-size: .8em;
	}
}
@media (max-width: 380px) {
	.main_section_nine_content_box_ul_li_text {
	}
	.main_section_nine_content_title_box_text_h2 {
		font-size: 2.8em;
	}
	.main_section_nine_content_title_box_text_h3 {
		font-size: .9em;
	}
	.main_section_nine_content_box_title {
		font-size: .9em;
	}
	.main_section_nine_content {
		max-width: 300px;
	}
	.main_section_nine_ul_li_register_button {
		font-size: 1.4em;
	}
	.main_section_nine_content_box_ul_li_text {
		font-size: .7em;
	}
}


/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */



.main_section_ten {
	width: 100%;
	min-height: 800px;
	background: #1b263a;
}
.main_section_ten__container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 15px;
}
.main_section_ten_title {
	color: #fff;
	min-height: 170px;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 2em;
	font-style: italic;
	text-align: center;
}
@media (max-width: 780px) {
	.main_section_ten_title {
		font-size: 1.5em;
	}
}



/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

.main_section_eleven {
	min-height: 800px;
	width: 100%;
	background: url(../img/main/background_white_wall.jpg) center/cover no-repeat;
}
.main_section_eleven__container {
	min-height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 15px;
}
.main_section_eleven_box {
	min-height: 230px;
	width: 700px;
	margin: 100px 0px;
	font-size: 1.5em;
}
.main_section_eleven_box_ul {
	min-height: 230px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main_section_eleven_box_ul_li {
	min-height: 30px;
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-style: italic;
}
.main_section_eleven_box_ul_li_time {}


@media (max-width: 720px) {
	.main_section_eleven_box {
		width: 500px;
		font-size: 1.4em;
	}
	.main_section_eleven_box_ul_li {
		width: 85%;
	}
}
@media (max-width: 530px) {
	.main_section_eleven_box {
		width: 400px;
		font-size: 1.3em;
	}
	.main_section_eleven_box_ul_li {
		width: 100%;
	}
}
@media (max-width: 420px) {
	.main_section_eleven_box {
		width: 300px;
		font-size: 1em;
	}
	.main_section_eleven_box_ul_li {
		width: 100%;
	}
}



/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */


/* ========================================================== */
/* ===========================MAIN=========================== */
/* ========================================================== */

/* ========================================================== */
/* ===========================FOOT=========================== */
/* ========================================================== */

.foot {
	width: 100%;
	min-height: 800px;
	position: relative;
}
.foot_container {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 230px;
	background: rgba(0, 0, 0, .7);
}
.foot__container {
	min-height: 230px;
	padding: 0px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot_form {
	width: 870px;
	min-height: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.foot_info_box_form_one_section,
.foot_info_box_form_two_section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	height: 110px;
}
.foot_info_box_form_one_section input,
.foot_info_box_form_two_section input  {
	width: 100%;
	height: 45%;
	font-weight: 600;
	font-size: 1em;
	padding-left: 10px;
}
.foot_info_box_form_register_box {
	width: 450px;
	min-height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.foot_info_box_form_register_box > input {
	width: 300px;
	min-height: 75px;
	background: red;
	font-weight: 600;
	font-size: 1.4em;
	color: #fff;
	cursor: pointer;
}
.foot_info_box_form_register_button_label > input {
	margin-right: 5px;
	cursor: pointer;
}
.foot_info_box_form_register_button_label div {
	cursor: pointer;
}
.foot_info_box_form_register_button_label {
	min-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: .9em;
	color: #fff;
	width: 100%;
	flex-wrap: wrap;
}
.foot_info_box_form_register_button_label > a {
	padding: 0px 3px;
	color: #fff;
}
.foot_info_box_form_register_button_label > a:hover {
	text-decoration: underline;
}

@media (max-width: 885px) {
	.foot_form {
		justify-content: center;
	}
	.foot_info_box_form_register_box {
		align-items: center;
	}
	.foot_info_box_form_one_section,
	.foot_info_box_form_two_section {
		margin: 10px;
	}
	.foot_info_box_form_register_button_label {
		justify-content: center;
	}
}
@media (max-width: 450px) {
	.foot_form {
		margin: 20px 0px 20px 0px;
		flex-direction: column;
	}
	.foot_info_box_form_one_section,
	.foot_info_box_form_two_section {
		margin: 5px;
	}
	.foot_info_box_form_register_button_label {
		width: 50%;
		margin: 10px 0px;
	}
	.foot_info_box_form_register_box > input {
		width: 200px;
		min-height: 50px;
		font-size: .8em;
	}
}



/* ========================================================== */
/* ===========================FOOT=========================== */
/* ========================================================== */